<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= l(@session.date, format: :session) %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
