<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <%= link_to 'Plots', plots_path %>
        </li>
        <li class="nav-link">
          <%= link_to 'Members', members_path %>
        </li>
        <li class="nav-link">
          <%= link_to 'Sessions', sessions_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
